@font-face {
  font-family: 'Vic-Regular';
  font-style: normal;
  font-weight: 400 700;
 src: url(https://agriculture.vic.gov.au/__data/assets/git_bridge/0004/866065/dist/fonts/VIC-Regular.woff2) format('woff2');
}
